
{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-block" id="bt_led_on">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    On
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-danger" id="bt_led_off">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    Off
                </button>
            </div>
        </div>
    </div>


{% endblock %}
